{% extends 'base.html' %}

{% block titulo %}
    Pesquisa | Hashflix
{% endblock %}

{% block content %}
    <main class='min-h-screen w-full'>
        <section class='min-h-screen flex justify-center py-16 px-10'>
            <div class="py-8 px-10 w-10/12 relative" >
                <h2 class="text-gray-200 text-3xl font-medium py-10">
                    Resultados da Busca:
                </h2>
                <div class="flex flex-wrap items-center min-w-full">
                {% for filme in object_list %}
                    <div class="m-3 overflow-hidden flex-shrink-0 rounded-md cursor-pointer h-64 w-96">
                        <a href="{% url 'filme:detalhesfilme' filme.pk %}">
                            <img src="{{ filme.thumb.url }}" class="hover:scale-110 transition ease-in-out object-cover w-full h-full " alt="">
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}